*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --black-color: #080415;
    --gray-color: #51586a;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    padding: 0;
}

.btn {
    --height: 62px;
    height: var(--height);
    min-width: 170px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    background-color: var(--primary-color);
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--black-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
}

.section-desc {
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--black-color);
    box-sizing: content-box;
    opacity: 0.2;
    transition: opacity 0.2s, background-color 0.2s;
    cursor: pointer;
}

.dot:hover {
    opacity: 1;
    background-color: var(--primary-color);
}

.dot--active {
    cursor: default;
    width: 12px;
    height: 12px;
    padding: 4px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    opacity: 1;
    background-clip: content-box;
}

button,
input,
select,
textarea {
    font-size: inherit;
}

/* Header */
.header > .container {
    max-width: 1330px;
    padding-top: 20px;
}

/* Navbar */
.navbar-wrap {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration: underline;
}

.navbar__contact:hover .navbar__contact-icon-wrap {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.navbar__contact-icon-wrap {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(9, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: background 0.2s, border 0.2s;
}

.navbar__logo {
    width: 100px;
    height: 100px;
}

.navbar__list {
    display: flex;
}

.navbar__item--active .navbar__link,
.navbar__link:hover {
    color: #333;
    text-shadow: 1px 0 0 #333;
}

.navbar__link {
    padding: 8px 22px;
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    transition: color 0.2s, text-shadow 0.2s;
}

/* Hero */
.hero {
    margin-top: 44px;
    position: relative;
    overflow: hidden;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor:first-of-type {
    top: -12%;
    left: -1%;
}

.hero__decor:last-of-type {
    scale: 0.4;
    bottom: -50%;
    right: -20%;
}

.hero__media-img {
    max-width: 514px;
    object-fit: cover;
}

.hero__content {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -30px;
}

.hero__heading {
    color: var(--black-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
}

.hero__cta-link {
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration: underline;
}

.hero__social {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 104px;
}

.hero__social-title {
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;
}

.hero__social-list {
    display: flex;
    column-gap: 20px;
}

.hero__social-item:nth-child(2),
.hero__social-item:nth-child(3) {
    margin-top: 1px;
}

.hero__social-link {
    width: 40px;
    height: 40px;
    color: var(--black-color);
    border-radius: 50%;
    border: 1px solid rgb(9, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.hero__social-link:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

/* Client */
.client {
    padding: 98px 0 70px;
}

.client__inner {
    display: flex;
    align-items: center;
    column-gap: 105px;
}

.client__heading {
    max-width: 253px;
    color: var(--black-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    padding-left: 99px;
    position: relative;
    flex-shrink: 0;
    box-sizing: content-box;
}

.client__heading::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    height: 2px;
    width: 86px;
    background-color: var(--primary-color);
}

.client__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 34px;
}

.client-item:nth-child(2) .client-item__logo-wrap {
    background-color: #fbfaff;
}

.client-item:nth-child(3) .client-item__logo-wrap {
    background-color: #fee101;
}

.client-item:nth-child(4) .client-item__logo-wrap {
    background-color: #f00;
}

.client-item:nth-child(5) .client-item__logo-wrap {
    background-color: #14a800;
}

.client-item:nth-child(7) .client-item__logo-wrap {
    background-color: #7f54b3;
}

.client-item__link {
    display: flex;
    align-items: center;
}

.client-item__link:hover .client-item__name {
    text-decoration: underline;
}

.client-item__logo-wrap {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item__name {
    color: var(--black-color);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -0.11rem;
    white-space: nowrap;
}

/* Feature */
.feature {
    padding: 70px 0;
}

.feature__top {
    text-align: center;
}

.feature__desc {
    max-width: 534px;
    margin: 20px auto 0;
}

.feature__list {
    margin-top: 60px;
}

/* Feature Item */
.feature-item__inner {
    background: #fbfaff;
    padding: 32px 42px;
    transition: box-shadow 0.2s, transform 0.2s;
}

.feature-item__inner:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-10px);
}

.feature-item__icon-wrap {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgb(8, 4, 21, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item__icon {
    width: 38px;
}

.feature-item__heading {
    margin-top: 22px;
    color: var(--black-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.feature-item__desc {
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 15px;
}

/* Project */
.project {
    margin: 70px 0;
    padding: 86px 0;
    background-color: var(--primary-color);
}

.project__top {
    align-items: flex-end;
    margin-bottom: 40px;
}

.project__heading {
    color: #fff;
}

.project__desc {
    margin-left: 30px;
    color: #fff;
    opacity: 0.7;
    max-width: 370px;
}

.project-item__inner {
    padding: 24px 24px 24px 34px;
    background-color: #fbfaff;
    display: flex;
    align-items: center;
    column-gap: 48px;
    margin-top: 30px;
    transition: scale 0.3s ease;
    position: relative;
}

.project-item__inner::after {
    content: url(../imgs/project-decor.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.project-item__inner:hover {
    scale: 1.05;
}

.project-item__heading {
    color: var(--black-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.project-item__desc {
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.44;
    margin-top: 10px;
    letter-spacing: -0.2px;
}

.project-item__link {
    display: inline-block;
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    margin-top: 20px;
    text-decoration: underline;
}

.project-item__thumb {
    max-width: 246px;
    height: 187px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.project__cta {
    background-color: #fff;
    color: var(--black-color);
    margin-top: 96px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Stat */
.stat {
    padding: 70px 0;
}

.stat__top {
    text-align: center;
}

.stat__title {
    display: inline-flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 10px;
}

.stat__title::after {
    content: url(../icons/hand.svg);
    margin-left: 9px;
}

.stat__desc {
    max-width: 570px;
    text-align: center;
    margin: 15px auto 0;
}

.stat__list {
    width: min(946px, 100%);
    margin: 70px auto;
    padding: 20px 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid rgb(8, 4, 21, 0.2);
    border-bottom: 1px solid rgb(8, 4, 21, 0.2);
}

.stat__item {
    display: flex;
    flex-direction: column;
}

.stat__item-number {
    position: relative;
    color: var(--black-color);
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0.168rem;
    /* text-decoration: underline; */
}

.stat__item-number::after {
    content: "";
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 3px;
    background-color: var(--black-color);
    left: 0;
}

.stat__item-title {
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 10px;
}

.stat__media {
    width: 100%;
    padding-top: 62.5%;
    position: relative;
}
.stat__media-video {
    position: absolute;
    inset: 0;
    width: 100%;
}

.stat__media-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    z-index: 1;
    transition: scale 0.2s;
}

.stat__media:hover .stat__media-play-btn {
    cursor: pointer;
    scale: 1.05;
    transform-origin: center;
}

.stat__media-tag {
    position: absolute;
    bottom: 85px;
    right: 10px;
    z-index: 1;
    color: var(--gray-color);
    background-color: #fff;
    text-transform: uppercase;
}

.stat__media-tag:hover {
    opacity: 1;
}

.stat__media-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: transparent;
}

/* Feedback */
.feedback {
    position: relative;
    background-color: #fbfaff;
    padding: 80px 0 74px;
}

.feedback::before {
    content: url(../imgs/feedback-decor-left.svg);
    position: absolute;
    bottom: 0;
    left: 0;
}

.feedback::after {
    content: url(../imgs/feedback-decor-right.svg);
    position: absolute;
    bottom: 0;
    right: 0;
}

.feedback__top {
    text-align: center;
}

.feedback__desc {
    max-width: 570px;
    text-align: center;
    margin: 20px auto 0;
}

.feedback__list-wrap {
    overflow: hidden;
}

.feedback__list {
    display: flex;
    margin-top: 60px;
}

.feedback-item {
    width: 100%;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}

.feedback-item--active {
    display: flex;
}

.feedback-item__quote {
    max-width: 679px;
    color: var(--gray-color);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67;
}

.feedback-item__user {
    display: flex;
    align-items: center;
    margin-top: 36px;
    column-gap: 15px;
}

.feedback-item__avatar-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f29764;
    overflow: hidden;
}

.feedback-item__avatar {
    width: 100%;
    object-fit: cover;
}

.feedback-item__name {
    color: var(--black-color);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.feedback-item__desc {
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
    margin-top: 4px;
    margin-bottom: 40px;
}

/* FAQ */
.faq {
    padding: 95px 0 80px;
}

.faq__heading {
    max-width: 575px;
    margin-bottom: 80px;
}

.faq__list {
    width: min(1009px, 100%);
}

/* FAQ Item */
.faq-item {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    padding: 0 0 12px 22px;
    border-bottom: 2px solid var(--black-color);
}

.faq-item + .faq-item {
    margin-top: 60px;
}

.faq-item__title {
    color: var(--black-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 22px;
}

.faq-item__desc {
    color: var(--gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    max-width: 487px;
    display: none;
}

.faq-item__icon-wrap {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(22, 26, 28, 0.2);
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.faq-item__icon-wrap:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.faq-item__icon-wrap:hover .faq-item__icon--open,
.faq-item__icon-wrap:hover .faq-item__icon--close {
    color: #fff;
}

.faq-item__icon--close,
.faq-item__icon--open {
    position: relative;
    transition: color 0.2s;
}

.faq-item__icon--close {
    display: none;
    top: -3px;
}

.faq-item__icon--open {
    top: 1px;
}

.faq-item__separate {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #08182f;
}
/* 
.faq__input:checked ~ .faq__item-info .faq-item__title {
    color: var(--primary-color);
}

.faq__input:checked ~ .faq__item-info .faq-item__desc {
    display: block;
}

.faq__input:checked ~ .faq__item-seperate {
    background-color: rgb(93 59 238 / 20%);
}

.faq__input:checked ~ .faq__item-icon-wrap {
    border-color: var(--primary-color);
}

.faq__input:checked ~ .faq__item-icon-wrap .faq__item-icon--close {
    display: block;
    color: var(--primary-color);
}

.faq__input:checked ~ .faq__item-icon-wrap .faq__item-icon--open {
    display: none;
} */
